body {
    margin-top: 100px;
    padding: 0;
    display: flex;
    justify-content: center;
    
}

#container {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px
}

.row-container {
    display: flex;
}

.grid-item {
    width: 30px;
    height: 30px;
    border: 1px solid black; /* Add borders */
    box-sizing: border-box; /* Include borders in size */
}

.grid-item:hover{
    background-color: black;
}
.new-box-color{
    height: 100%;
    width: 100%;
    background-color: black;
}
.button-container{
    display: flex;
    justify-content: center;
    
}

